@{ 
    HelperResult hr = RenderBody();
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->

    <title>Please Login - CalPanel</title>

    @Html.Action("StyleResources", "Template", new { vB = @ViewBag })
</head>
<body>
    <header> </header>

    <!-- HEADER END-->
    <div class="navbar navbar-inverse set-radius-zero">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    <img src="Content/assets/img/logo.png" />
                </a>
            </div>

            <div class="left-div">
                <i class="fa fa-user-plus login-icon"></i>
            </div>
        </div>
    </div>

    <!-- LOGO HEADER END-->
    <!-- MENU SECTION END-->
    <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="page-head-line">Please Login To Enter </h4>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <form role="form" method="POST" id="login">
                        <h4> Login with <strong>CalPanel Account  :</strong></h4>
                        <br />

                        <div class="form-group">
                            <label class="control-label" for="username">User ID:</label>
                            <input type="text" class="form-control input-dark" name="username" id="username" autocomplete="off" />
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="passwd">Password:</label>
                            <input type="password" class="form-control" name="passwd" id="passwd" autocomplete="off" />
                        </div>

                        <hr />
                        <a id="btnSubmit" class="btn btn-info"><span class="glyphicon glyphicon-user"></span> &nbsp;Log Me In </a>&nbsp;
                    </form>
                </div>

                <div class="col-md-6">
                    <div class="alert alert-info">
                        This is a free bootstrap admin template with basic pages you need to craft your project.
                        Use this template for free to use for personal and commercial use.
                        <br />
                        <strong> Some of its features are given below :</strong>
                        <ul>
                            <li> Responsive Design Framework Used </li>
                            <li> Easy to use and customize </li>
                            <li> Font awesome icons included </li>
                            <li> Clean and light code used. </li>
                        </ul>

                    </div>
                    <div class="alert alert-success">
                        <strong> Instructions To Use:</strong>
                        <ul>
                            <li> Lorem ipsum dolor sit amet ipsum dolor sit ame </li>
                            <li> Aamet ipsum dolor sit ame </li>
                            <li> Lorem ipsum dolor sit amet ipsum dolor </li>
                            <li> Cpsum dolor sit ame </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-12">
                    <form role="form" method="POST" id="register">
                        <h4> Register with <strong>CalPanel Account  :</strong></h4>
                        <br />

                        <div class="form-group">
                            <label class="control-label" for="username">User ID:</label>
                            <input type="text" class="form-control input-dark" name="rUser" id="rUser" autocomplete="off" />
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="passwd">Password:</label>
                            <input type="password" class="form-control" name="rPass" id="rPass" autocomplete="off" />
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="email">Email:</label>
                            <input type="email" class="form-control" name="rEmail" id="rEmail" autocomplete="off" />
                        </div>

                        <hr />
                        <a id="btnSubmitReg" class="btn btn-info"><span class="glyphicon glyphicon-user"></span> &nbsp;Log Me In </a>&nbsp;
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- CONTENT-WRAPPER SECTION END-->
    @Html.Action("Footer", "Template", new { vB = @ViewBag })
    @Html.Action("ScriptResources", "Template", new { vB = @ViewBag })


    <!-- Login Script -->
    <script type="text/javascript">
        var $passwd = $('#passwd');

		jQuery(document).ready(function($) {
			// Validation and Ajax action
			$("#login").validate({
				rules: {
					username:   { required: true },
					passwd:     { required: true }
				},

				messages: {
					username:   { required: 'Please enter your user id.' },
                    passwd:     { required: 'Please enter your password.' }
				},

				// Form Processing via AJAX
				submitHandler: function(form) {
					var opts = {
						"closeButton":       true,
						"debug":             false,
						"positionClass":     "toast-bottom-full-width",
						"onclick":           null,
						"showDuration":      "300",
						"hideDuration":      "1000",
						"timeOut":           "5000",
						"extendedTimeOut":   "1000",
						"showEasing":        "swing",
						"hideEasing":        "linear",
						"showMethod":        "fadeIn",
						"hideMethod":        "fadeOut",
					    "preventDuplicates": true
					};

					$.ajax({
					    url: "Account/Session_Login",
						method: 'POST',
						dataType: 'json',
						data: {
							do_login: true,
							username:   $(form).find('#username').val(),
							passwd:     $(form).find('#passwd').val(),
						},

						success: function(resp) {
						    // Refresh the page on successful login!
						    // This will allow the login page to be shown anywhere and
						    // when logged back in, resume on the same page!

						    console.log(resp);

						    if (resp.accessGranted) {
						        window.location.reload();
						    } else {
						        toastr.error("You have attempted to login with incorrect creditentials<br>Auth Response: " + resp.error, "Invalid Creditentials!", opts);
						        $passwd.select();
						    }
						}
					});
				}
			});

			// Set Form focus
			$("#iU").focus();

            // Allow Submitting the Login Form from Anchor
			$("#btnSubmit").click(function () {
			    $('#login').submit();
			});


			$("#register").validate({
			    rules: {
			        rUser:  { required: true },
			        rPass:  { required: true },
			        rEmail: { required: true, email: true }
			    },

			    messages: {
			        rUser:  { required: 'Please enter your user id.' },
			        rPass:  { required: 'Please enter your password.' },
			        rEmail: { required: 'Please enter your email.' }
			    },

			    // Form Processing via AJAX
			    submitHandler: function (form) {
			        var opts = {
			            "closeButton": true,
			            "debug": false,
			            "positionClass": "toast-bottom-full-width",
			            "onclick": null,
			            "showDuration": "300",
			            "hideDuration": "1000",
			            "timeOut": "5000",
			            "extendedTimeOut": "1000",
			            "showEasing": "swing",
			            "hideEasing": "linear",
			            "showMethod": "fadeIn",
			            "hideMethod": "fadeOut",
			            "preventDuplicates": true
			        };

			        $.ajax({
			            url: "Account/Session_Register",
			            method: 'POST',
			            dataType: 'json',
			            data: {
			                do_login:   true,
			                rUser:      $(form).find('#rUser').val(),
			                rPass:      $(form).find('#rPass').val(),
			                rEmail:     $(form).find('#rEmail').val()
			            },

			            success: function (resp) {
			                // Refresh the page on successful register!
			                console.log(resp);
			                if (resp.accessGranted) {
			                    window.location.reload();
			                } else {
			                    toastr.error("You have attempted to register with incorrect arguments<br>Response: " + resp.error, "Error!", opts);
			                }
			            }
			        });
			    }
			});

		});
    </script>
</body>
</html>