@{
    ViewBag.PageTitle         = "Dashboard";        // Displayed in title bar and Navbar (Top, Currently Displaying:)
    ViewBag.PageName          = "Dashboard";        // Displayed above the page
    ViewBag.PageDescription   = "User's Dashboard";
}


<h2>Just a test!</h2>